/* font */
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Poppins:wght@500&family=Rajdhani&family=Smooch&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
/* -------------------nav------------------- */
    /* nav{
        background: #562EFF;
        width: 100%;
        height: 94px;
        line-height: 100px;
        
    }
    nav li{
        list-style: none;
        margin-right: 35px;
        
        
    }
    nav li a{
        text-decoration: none;
        font-size: 16px;
        color: #F3F1FF;
    }
    nav ul{
        display: flex;
        justify-content: flex-end;
        padding-right: 550px;
    }
    nav ul li img{
        width: 51px;
        height: 51px;
        line-height: 100px;
    } */
main{
    display: flex;
    flex-direction: column ;
    align-items: center ;
}
.container{
    background: #FFFFFF;
    padding: 30px;
    width: 870px;
    margin-top: 21PX;
}

/* --------------------------top players syle-----------------------------*/
.top-players{
    padding-bottom: 30px;
}
.section-title{
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;

}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
hr{
    border: 1px solid #D1D1D1;
}

/* -----------------------top blogs style----------------- */

.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}
.blog{
    display: flex;
    
}
.blog img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
    color: #000000;
}
.blog-author{
    color: #9F9F9F;
    font-size: 16px;
}
.blog-author a{
    text-decoration: none;
    color: #562EFF;
}
/* ------------------------------------lates course style ----------------------------------- */
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
}
.course{
    width: 252px;
    height: 270px;
    background: #FFFFFF;
    filter: drop-shadow(0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05));
    padding: 15px;
    border-radius: 20px;
}
.course .course-banner   img{
    width: 224px;
    height: 104px;
}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.course-info span{
    font-size: 14.6913px;
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.Empty{
    color: #AEAEAE;
}
.course-author{
    color: #ED6B4F;
}
.course-duration{
    font-size: 14.6913px;
    padding: 5px;
    background: #FFE4E8;
    border-radius: 15px;
    color: #FF4A60;
}

/* -----------------media queries--------------- */

/* ------------------mobile devices--------------*/

@media  only screen and (max-width:688px) {
    .container{
        width: 100%;
    }
    .players, .blogs, .courses{
        grid-template-columns: repeat(1, 1fr);  
    }
    .player, .blog{
        flex-direction: column;
    }

    .courses, .blogs{
        justify-items: center;
        grid-row-gap: 20px;
    }
}